@import url('https://fonts.googleapis.com/css?family=Proxima+Nova');
@import url('https://fonts.googleapis.com/css?family=Avenir');

.carousel-item {
    text-align: center;
    background-color: #f8f9fa;
    padding: 50px;
}


.card {
    width: 100%;
    background-color: black;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
}

.card h1{
    margin-top: 10px;
    font-size: 30px;
    margin-top: 10px;
    font-family:  'Avenir Light', sans-serif;
    color: white;
}

.card p{
    font-size: 20px;
    font-family:  'Avenir', sans-serif;
    color: white;
}
